In [1]:
import numpy as np 
import pandas as pd 
import datetime
from datetime import datetime
from datetime import datetime, timedelta
from tqdm import tqdm_notebook as tqdm
import calendar
from multiprocessing import Pool, TimeoutError, Lock, Value, current_process, cpu_count
from functools import partial

import RTD_Preprocess_function as func

In [2]:
data = func.ReadRTD('D:\Strategic_Trading\PriceForecast\data\RTD\RTD.txt')

HBox(children=(IntProgress(value=0, max=807833), HTML(value='')))

In [3]:
df_list = [group[1] for group in data.groupby(data["ts"].dt.date)]
timelist = data["ts"].dt.time.unique().tolist()
fill_list = []

if __name__ == '__main__':
    with Pool(processes=12) as pool:
        for i, x in enumerate(tqdm(pool.imap_unordered(partial(func.FillMissingTime, timelist=timelist), df_list), total=len(df_list)), 1):
                fill_list.append(x)

df = pd.concat(fill_list)

HBox(children=(IntProgress(value=0, max=2707), HTML(value='')))

In [5]:
df = df.sort_values(by=['ts'])
df = df.reset_index(drop=True)
df

                        ts  open  high   low close   vol
0      2006-01-02 08:46:00  6451  6490  6411  6478   775
1      2006-01-02 08:47:00  6470  6480  6465  6470   589
2      2006-01-02 08:48:00  6472  6473  6461  6465   633
3      2006-01-02 08:49:00  6464  6467  6456  6457   681
4      2006-01-02 08:50:00  6460  6463  6452  6455   385
...                    ...   ...   ...   ...   ...   ...
812095 2016-12-30 13:41:00  9261  9262  9260  9262   442
812096 2016-12-30 13:42:00  9261  9262  9261  9261   275
812097 2016-12-30 13:43:00  9261  9263  9261  9262   672
812098 2016-12-30 13:44:00  9261  9263  9261  9261   646
812099 2016-12-30 13:45:00  9263  9264  9261  9262  1048

[812100 rows x 6 columns]

In [6]:
df.to_csv('D:\Strategic_Trading\PriceForecast\data\RTD\RTD.csv', index=False)